{{template "base/head" .}}
<div class="home">
	<div style="text-align:center;">
		<a href="https://xkcd.com/1597/"><img src="https://imgs.xkcd.com/comics/git.png" alt="Git"></a>
		<br><br>
		This is my git server! <s>All</s> <i>Some</i> of the code used to run the server was <s>stolen from</s> <i>inspired by</i> the <a href="https://gogs.io">gogs project</a>.
	</div>
</div>
{{template "base/footer" .}}
